body{
  background-color: rgba(255, 99, 71, 0.5);
}

h1{
  color: rgb(0,0,255);
}

h3{
  color:  brown;
}

hr{
  border-style: none;
  border-top-style: dotted;
  background-color: grey;
  border-width: 1.5px;

}

td{
  font-family: fantasy;
  padding: 20px;
}

a{
  color: blue;
  font-size: 20px;;
}

a:hover {
  color: yellow;
  padding: 5px;
}

ol{
  font-family: fantasy;
}

th{
  font-family: cursive;
  font-size: 25px;
  color: blue;
}
